.profilecon {
    display: flex;
    justify-content: center;
    }
    .profilenav {
        display: flex;
        justify-content: space-between;
        height: 150px;
        width: 100%;
        padding: 0 2rem;
        margin: 3rem 0;
    }
    .profileimg {
        border-radius: 100%;
        width: 130px;
        height: 130px;
    }
    .headname {
        font-size: 32px;
    }
    .ridwansalafi {
        display: flex;
        width: 100%;
        margin-top: -5px;
        gap: 5px;

    }
    .secondname {
        font-size: 18px;
        font-weight: 400;

    }
    .btnthreads {
        width: 90px;
        height: 35px;
        border-radius: 1.5rem;
        background-color: #1e1e1e;
        border: none;
        color: #616161;
        font-size: 16px;
        cursor: pointer;
        margin-top: -2px;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;
        margin-top: -68px;
    }
    .more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 87px;
        height: 55px;
        margin-right: 10px;
    }
    .follower{
        color: #616161;
        font-size: 18px;
        margin-top: 10px;
    }
    .follower:hover {
        cursor: pointer;
        border-bottom: 1px solid #616161;
    }
    .ig {
        object-fit: contain;
        width: 28px;
        transition: all 200ms;
        margin-right: 15px;
    }
    .threedot {
        object-fit: contain;
        width: 42px;
        padding: 2.5px 2.5px;
        border-radius: 100%;
        transition: all 200ms;

    }
    .ig:hover {
        width: 30px;
        cursor: pointer;
    }
    .threedot:hover {
        width: 45px;
        cursor: pointer;
    }
